@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
    background-color: lightblue;
    font-family:Ubuntu;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a:link {
    color: blue;
}

/* visited link*/
a:visited {
    color: white;
}

/* mouse over link*/ 
a:hover {
    color: orange;
}

/* selected link*/
a:active {
    color: blue;
}




