

header{
    margin:auto;
    margin-top: 10px;
    width: 960px;
    height: 800px;
    background-color: white;
}

body{
    font-family: Ubuntu;
    margin:auto;
    margin-top: 0px;
    width: 1000px;
    height: 100px;
    background-color: lightblue;
}





h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a:link {
    color: green;
}

/* visited link*/
a:visited {
    color: navy;
}

/* mouse over link*/
a:hover {
    color: orange;
}

/* selected link*/
a:active {
    color: blue;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}







